.container {
  display: flex;
  background-color: DodgerBlue;
}

.container div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}

form {
  width: 300px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}
input, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
}
button {
  background: #0078ff;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background: #005fcc;
}

.page {

    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;   /* limit width */
}


body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a, li div {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #d7e819; color: black}

ul.topnav li.theme {background-color: #106a71; }

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


body {
  background: white;
  color: black;
}

body.dark-mode {
  background: #121212;
  color: white;
}

h1 {
  color: black
}

body.dark-mode h1 {
  color: white
}

a {

color:blue

}